
<ion-view  title='<img src="./img/i-logo.png">'>

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
  </ion-nav-buttons>
      <ion-nav-buttons side="right">
    <button  class="button button-icon icon ion-search"></button>
  </ion-nav-buttons>
<ion-content class="has-header">
<!--start create account form-->

<div class="row">
<div class="col colaccounthead">
<h2>Welcome Home!</h2>
<p>Your account has been created.<br>Now get searching or reviewing. </p>
</div>
</div>
        <div class="row">
    <div class="col colaccounthead">
      <p>Find reviews around you:</p>
    </div>
</div>
<div class="row">
    <div class="col center">
<button class="button button-balanced icon ion-ios7-location-outline"></button>
    </div>
</div>
<div class="row">
    <div class="col colaccounthead">   
       <br> <p>Post your own review:</p>
    </div>
</div>

<div class="row">
    <div class="col center">
<button class="button button-balanced icon ion-ios7-compose-outline"></button>
    </div>
</div>
    
   
    </ion-content>
         
</ion-view>
