
<ion-view  title='<img src="./img/i-logo.png">'>

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
  </ion-nav-buttons>
      <ion-nav-buttons side="right">
    <button  class="button button-icon icon ion-search"></button>
  </ion-nav-buttons>
<ion-content class="has-header">
<!--start create account form-->
    <form ng-submit="postform" class="formcenter">

<div class="row">
<div class="col colaccounthead">
<h2>Create Account</h2>
<p class="errormessage">Sorry that is taken, try again.[hidden]</p>
<p>Already have an account? <a href="#/app/login">Login here</a> </p>
</div>
</div>
        <div class="row">
    <div class="col">
          <label class="item item-input forminput">
        <input type="text" placeholder="UserName or Email">
      </label>
      <label class="item item-input forminput">
        <input type="password" placeholder="Password">
      </label>
    </div>
</div>
<div class="row">
    <div class="col">   
        <div class="center">
        <button class="button button-large button-balanced greenbutton">Create Anonymous Account</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col colaccounthead">  
        <h3>Your account is anonymous.</h3>
        <p>Your username or email is never displayed. Your account is for you to track your favorites and reviews and refer to them on all your devices.</p>
    </div>
</div>
    
    </form>
    <div class="row">
<div class="col colaccounthead">
<p class="errormessage">GEORGE: account created success page is #/app/accountsuccess</p>

</div>
</div>

   
    </ion-content>
         
</ion-view>
