
<ion-view  title='<img src="./img/i-logo.png">'>
    <div class="bar bar-footer comment-footer">
  <button class="button comment-button">Add Comment</button>

</div>

      <ion-nav-buttons side="right">
    <button  class="button button-icon icon ion-search"></button>
  </ion-nav-buttons>
<ion-content class="has-header">   
        <div class="red"></div>
    <div class="row rowclose">
    <div class="col">
   <i class="icon ion-close-round iconclose"></i>
    </div>
    </div>
    <!--NOTE in the comments section the comment icon ion-chatbox-working is in the purple "on" state-->
    <div class="row row-comment-icons">
                <div class="col iconcol">
                </div>
                <div class="col iconcol">
                <a href="#/app/share"><i class="icon ion-more detail-icon detail-icon"></i>
                </a>
                </div>
                <div class="col comments">
                <i class="icon ion-chatbox-working detail-icon comment-on"></i><span class="DetailComFav">144</span>
                </div>
                <div class="col iconcol">
                <i class="icon ion-ios7-heart detail-icon fav-on"></i><span class="DetailComFav">144</span>
                </div>
            </div>
<!--start actual comments-->
<div class="comment-centered"><!--add div to cneter comments for wider tablet screens--->
    <div class="row">
    <div class="col">
    <p>The peanut gallery:</p>
    </div>
    </div>
    <!---START looping through additional reviews--->
<!--comment 1 start--->
<div class="row">
                <div class="col col-10 ceasar-on">
                <i class="icon ion-thumbsup ceasar-on"></i>
                </div>
                <div class="col">
                <div class="commentText">
                <p>The rest of the house is just as good. Definitely worth a look. What about a really long comment what happens then? This does. </p>
                </div>
                </div>
</div>
<div class="row">
                <div class="col col-10 ceasar-on">
                </div>
                <div class="col StreamTime">
                <span class="StreamTime">9 min. ago</span>
                </div>
</div>
<!--comment 1 end--->
<!--comment 2 start--->
<div class="row">
                <div class="col col-10 ceasar-on">
                <i class="icon ion-thumbsdown ceasar-on"></i>
                </div>
                <div class="col">
                <div class="commentText">
                <p>The neighboorhood is great too. There’s a Safeway right down the street so it’s very convenient.</p>
                </div>
                </div>
</div>
<div class="row">
                <div class="col col-10 ceasar-on">
                </div>
                <div class="col StreamTime">
                <span class="StreamTime">14 min. ago</span>
                </div>
</div>
<!--comment 2 end--->
    
<!--comment 3 start--->
<div class="row">
                <div class="col col-10 ceasar-on">
                <i class="icon ion-thumbsup ceasar-on"></i>
                </div>
                <div class="col">
                <div class="commentText">
                <p>This home is in the birdrock school district. One of the best in California. So that’s a plus too if you have kids.</p>
                </div>
                </div>
</div>
<div class="row">
                <div class="col col-10 ceasar-on">
                </div>
                <div class="col StreamTime">
                <span class="StreamTime">1 hour ago</span>
                </div>
</div>
<!--comment 3 end--->
</div><!--end of center all comments for ipad-->
<!--add footer with comment button-->


</ion-content>

</ion-view>
