   
<ion-modal-view class="modal-backdrop2">
  <div class="red"></div>
<div class="shareback">
<div class="row rowclose">
    <div class="col sharehead">
    SHARE
    </div>
    <a href=""  ng-click="closeShare()">
    <div class="col">
   <i class="icon ion-close-round iconclose" ></i>
    </div>
        </a>
    </div>
    <div class="row sharerow">
        <a href="http://twitter.com" class="sharelink"><!--insert twitter share-->
        <div class="col">
        TWITTER
        </div>
        </a>

    </div>
    <div class="row sharerow">
    <a href="http://facebook.com" class="sharelink"><!--insert facebook share-->
      <div class="col">
        FACEBOOK
        </div>
    </a> 
    </div>
    <div class="row sharerow">
    <a href="emailto:support@housemouth.co" class="sharereport"><!--insert email-->
        <div class="col">
        REPORT
        </div>
    </a>          
    </div>   
</div>
</ion-modal-view>


